* {
  margin-top: 0;
}
body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #f5fad5;
}
.container {
  min-height: 100px;
  margin: 0 auto;
  max-width: 920px;
  width: 90%;
  background-color: #ffffff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: solid #452109 3px;
}
h1 {
  color: #4eadbe;
}
#rotate {
  margin-top: 10px;
  padding: 20px;
  color: #452109;
  min-height: 400px;
  overflow: auto;
}
#rotate p {
  width: 80%;
  float: left;
}
#rotate img {
  float: right;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}
header {
  margin: 0 auto;
  height: 25%;
  width: 100%;
  background-image: url('http://mypage.iu.edu/~tacooney/homeworkOne/content/bg.jpg');
  background-repeat: no-repeat;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
header h1 {
  color: #4eadbe;
  width: 100%;
  text-align: center;
  padding: 10px;
}
header span.amp {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
}
@media only screen and (max-device-width: 480px), only screen and (max-width: 768px) {
  header {
    height: 50px;
  }
}
nav {
  text-align: center
	padding: 10%;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  width: 50%;
  margin-top: 1em;
  margin-left: 32%;
  overflow: visible;
}
nav a {
  -moz-box-shadow: -3px -3px -3px;
  -webkit-box-shadow: -3px -3px -3px;
  box-shadow: -3px -3px -3px;
  -webkit-transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  display: inline-block;
  white-space: nowrap;
  background-color: #4eadbe;
  text-align: center;
  padding: 20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 3;
  color: #ffffff;
  text-decoration: none;
  margin: 2%;
}
nav a:hover {
  color: #7e2b06;
  -moz-box-shadow: 3px 3px 3px;
  -webkit-box-shadow: 3px 3px 3px;
  box-shadow: 3px 3px 3px;
}
nav a:visited {
  color: #ffffff;
}
@media only screen and (max-device-width: 480px), only screen and (max-width: 750px) {
  nav a {
    display: inline-block;
    white-space: nowrap;
    background-color: #4eadbe;
    text-align: center;
    padding: 20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 6px;
    color: #ffffff;
    text-decoration: none;
    margin: 3px;
  }
}
@media only screen and (max-device-width: 485), only screen and (max-width: 510px) {
  nav {
    width: 220px;
    margin-left: 5em;
  }
}
